@import "src/scss/index";

.works {
  padding: 150px 0;
  @include xs {
    padding: 50px 0;
  }

  .title {
    text-align: center;
    margin-bottom: 10px;
  }

  .description {
    font-family: $secondary-font;
    color: $text-color-white;
    margin-bottom: 50px;
    font-size: 25px;
    text-align: center;
    @include md {
      font-size: 20px;
      line-height: 25px;
    }
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  @include sm {
    grid-template-columns: 1fr;
  }
}
