@import "src/scss/index";

.skills {
  text-align: center;
  padding: 50px 0;

  .title {
    margin-bottom: 10px;
  }

  .description {
    font-family: $secondary-font;
    color: $text-color-white;
    margin-bottom: 50px;
    font-size: 25px;
    @include md {
      font-size: 20px;
      line-height: 25px;
    }
  }

  .block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-items: center;
    gap: 60px;
    @include md {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 15px;
    }

    .image {
      width: 80px;
      height: 80px;
      @include xs {
        width: 60px;
        height: 60px;
      }
    }
  }
}
