@import "src/scss/index";

.list {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 35px;
  @include md {
    margin-top: 25px;
  }

  .svg {
    color: $text-color-white;
    cursor: pointer;

    &:hover {
      color: $text-color-main;
      transition: 0.25s;
    }
  }
}
