@import "src/scss/index";

.desktop_list {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
  flex-grow: 2;

  li {
    cursor: pointer;
    position: relative;
    @extend %underline;
  }

  @include sm {
    display: none;
  }
}
