$ul: 1360px;
$lg: 1280px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$primary-font: "Calibre", "Inter", "San Francisco", "SF Pro Text", sans-serif;
$secondary-font: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
