@import "../../../scss/index";

.nav {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul {
  display: flex;
  gap: 50px;
  font-size: 18px;

  li {
    &:hover {
      color: $text-color-main;
      transition: 0.25s;
    }
  }

  @include xs {
    display: none;
  }
}


.imgBlock {
  max-width: 35px;
  max-height: 35px;
}

.img {
  width: 100%;
  height: 100%;
}
.div2 {
  display: none;
  @include xs {
    display: block;
  }
}
.div3 {
  position: fixed;
  width: 350px;
  height: 100%;
  background-color: black;
}

.nav2 {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 250px;
}
