@import "src/scss/index";

.navbar {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include md {
    padding: 20px;
  }
  .image {
    max-width: 45px;
    max-height: 45px;
  }
  .svg {
    width: 45px;
    height: 45px;
  }
}
